/.vscode
/Age Evolution
/Galaxies
/PDF SNR radius.png
/Project Summary
/Pulsar_characteristics_100.0_kyr_0.csv
/Pulsar_characteristics_100.0_kyr_1.csv
/R(t)_ST.png
/R(t,n).png
/__pycache__
/comparison.png
/f(P0).png
/f(vk).png
/f(z).png
/galaxy.png
/pick_arm.png
/radius as a function of pulsar age.png
/shock_speed copy.py